@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Tinos&display=swap');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comfortaa|IBM+Plex+Sans:100,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comfortaa|IBM+Plex+Sans:100,700|Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');

html, body {
    height: 100%;
    background-color: #fff !important;
    overflow-x: hidden !important;
}

body {
    position: relative;
    min-height: 100%;
    overflow-x: auto;
    margin: 0;
}

a {
    text-decoration: none;
    color: #FFF;
    white-space: nowrap;
}

a:visited{
    text-decoration: none;
    color: #fff;
}

a:active{
    text-decoration: none;
    color: #fff;
}

a:focus {
    text-decoration: none;
    color: #fff;
}

.header-wrapper {
    width: 100%;
    background-color: #fff;
    position: fixed;
    z-index: 1;
    opacity: .9;
    top: 0;
    left: 0;
}


.header-img-container{
    position: relative;
    max-width: 1170px;
    background-color: #fff;
}

.header-img-container img{
    width: 1120px;
    margin-left: 20px;
    background-color: #fff;
}


.navbar-collapse{
    background-color: #61ADF8;
    width: 700px;

}

/*This contains the nav-header unordered list -- This is where we adjust the vertical height*/
.navbar-nav {
    height: 40px;
    text-align: center;
    margin: 20px auto 0 auto;
    display: inline-block;
    vertical-align: middle;
}

.nav-header {
    max-width: 1170px;
    margin: 0 auto;
}

.nav-logo-div{
    display: inline-block;
    margin-right: 220px;
}

.nav-logo-div a img{
    height: 100px;
    width: 175px;
    padding: 10px 0;
    vertical-align: middle;
    margin-left: 53px;
}

.navbar-nav li {
    display: inline-block;
    margin: 0 15px;
    position: relative;
}

.navbar-nav li a:hover {
    color: #3A3A3A;
}

.navbar-nav li a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #3A3A3A;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.navbar-nav li a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.navbar-nav li a {
    font-family: 'Lato', sans-serif;
    display: inline-block;
    -webkit-text-fill-color: #393939;
    letter-spacing: 1px;
    z-index: 2;
}

.container {
    min-width: 100%;
    position: fixed;
}


.wrap-header {
    background-color: white;
    margin: 0;
}

.truck-logo-subtext {
    color: #777;
    font-size: 20px;
}

.truck-logo-subtext:hover {
    color: #777;
    text-decoration: none;
}


#page-container {
    background-color: #fff;
    margin: 0 auto;
    width: 100%;
}

#main {
    margin: 120px auto 0 auto;
    text-align: center;
    width: 100%;
    background-color: #fff;
    text-justify: inter-word;
}

#group-photo{
    height: 600px;
    width: 950px;
    border: 2px solid #d9d9d9;
}

#right-main{
    margin-top: 20px;
    display: inline-block;
    width: 745px;
    padding-left: 25px;
    margin-bottom: 15px;
}

#sidebar-img{
    height: 50px;
    width: 100px;
    padding-bottom: 7px;
}

.below-main{
    margin: 0 auto 40px auto;
    background-color: #fff;
    max-width: 1170px;
    padding: 0 15px;
    display: inline-block;
}

.below-main h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 44px;
    color: #3A3A3A;
}

.below-main p{
    font-family: 'Comfortaa', cursive;
    font-size: 30px;
    line-height: 54px;
}

.left-div{
    background: #fff;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    max-width: 590px;
}

.left-div h2 {
    font-family: 'IBM Plex Sans', sans-serif;
    color: #339933;
    font-size: 38px;
    margin-left: 40px;
}

.left-div ul {
    margin-left: 40px;
}


.left-div ul li{
    font-family: 'Lato', sans-serif;
    margin: 25px 0;
    font-size: 22px;
}

.about-text{
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
    margin-right: 20px;
    line-height: 30px;
    border-right: 2px #d9d9d9 solid;
}

.right-div{
    background: #fff;
    display: inline-block;
    vertical-align: middle;
}

#recycleLogo{
    max-height: 400px;
    max-width: 400px;
    height: auto;
    width: 100%;
    margin-top: 40px;
    margin-left: 32px;
}

.right-div img{
    width: 100%;
    max-height: 500px;
}

.third-div{
    margin: 100px auto 0 auto;
    max-width: 1170px;
}

.fourth-div{
    margin: 0 auto;
    max-width: 1170px;
}

.fifth-div{
    margin: 0 auto;
    max-width: 1170px;
}

.sixth-div{
    margin: 0 auto;
    max-width: 1170px;
}

.bar-div{
    width: 100%;
    margin: 100px auto;
    background: #3A3A3A;
}

.bar-div ul li{
    font-family: 'IBM Plex Sans', sans-serif;
    display: inline-block;
    font-size: 32px;
    color: #e8e8e8;
    margin: 40px 15px 0 15px;
    font-weight: bold;
    list-style-type: inherit;
}

.bar-div p{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    color: #00cc00;
    font-weight: bold;
}

.column-div{
    margin: 100px auto 0 auto;
    max-width: 1370px;
    vertical-align: top;
}

.column-div h1{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 46px;
    color: #339933;
}

.column{
    display: inline-block;
    margin: 0 3.1% 1em;
    padding: 0;
    height: 100%;
    width: 27%;
    vertical-align: top;
}

.column p{
    font-family: 'Questrial', sans-serif;
    color: #3A3A3A;
    font-size: 22px;
}

.column h3{
    font-family: 'Questrial', sans-serif;
    color: #3A3A3A;
    font-size: 28px;
}

.column h2{
    font-family: 'IBM Plex Sans', sans-serif;
    color: #339933;
    font-size: 30px;
    margin-bottom: 20px;
}

.phone-fax-container{
    margin-bottom: 25px;
    margin-right: 20px;
}

.phone-fax-container a{
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    font-size: 22px;
}

.icon{
    height: 35px;
    width: 35px;
    vertical-align: middle;
    margin-right: 12px;
}

a .circle{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    min-width: 301px;
    min-height: 268px;
    filter: brightness(75%);
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*margin: 0;*/
    /*padding: 0;*/
}

a .circle:hover{
    transition: 0.4s ease;
    filter: brightness(100%);
}

a .circle:visited{
    transition: 0.4s ease;
}

.main-img-container {
    margin: 0 auto 50px auto;
    position: relative;
    text-align: center;
    min-height: 800px;
    background-image: url('../images/about-splash-image.jpg');
    background-size: cover;
}

.bottles-img-container {
    margin: 0 auto 50px auto;
    position: relative;
    text-align: center;
    min-height: 600px;
    background-image: url('../images/bottles-cropped.jpg');
    background-size: cover;
}

.tint{
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    position: absolute;
    
}


.slide {
    width: 100%;
    /*min-width: 1080px;*/
    /*max-width: 1110px;*/
    text-align: center;
    transition: opacity 3s linear;
    filter: brightness(50%);
}

#commodities{
    font-family: 'Quicksand', sans-serif;
    font-size: 42px;
    color: #3a3a3a;
    padding-top: 60px;
}

.centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered h1{
    color: #fff;
    font-family: 'Tinos', serif;
    font-size: 48px;
}

.pos-left {
    position: absolute;
    top: 30%;
    left: 15%;
    transform: translate(-15%, -30%);
}

.pos-left h1{
    color: #fff;
    font-family: 'Tinos', serif;
    font-size: 48px;
}

.learn-more-btn{
    display: block;
    border: 1px #fff solid;
    font-family: 'Lato', sans-serif;
    margin-top: 75px;
    padding: 10px 0;

}

.learn-more-btn:hover{
    background: #fff;
    -webkit-text-fill-color: #3A3A3A;
    transition: 0.4s ease;
}

.phone-num{
    color: #fff;

}

.phone-num:visited {
    color: #fff;
}

.phone-num:hover{
    transition: 0.4s ease;
    color: #00cc00;
}

.directions-btn{
    display: block;
    border: 1px #fff solid;
    font-family: 'Quicksand', sans-serif;
    /*margin-top: 75px;*/
    padding: 10px 0;
    color: #fff;
    font-size: 16px;

}

.directions-btn:visited{
    color: #fff;
}

.directions-btn:hover{
    border-color: #00cc00;
    color: #00cc00;
    transition: 0.4s ease;
}

.contact-us-btn{
    border: 1px #3a3a3a solid;
    font-family: 'Quicksand', sans-serif;
    margin-left: 3px;
    color: #3a3a3a;
    text-align: center;
    padding: 15px 50px;
    font-size: 24px;
}

.contact-us-btn:visited{
    background: #fff;
    -webkit-text-fill-color: #3a3a3a;
    transition: 0.4s ease;
}

.contact-us-btn:hover{
    background: #3a3a3a;
    -webkit-text-fill-color: #00cc00;
    transition: 0.4s ease;
}

.email-btn{
    display: block;
    border: 1px #3a3a3a solid;
    font-family: 'Quicksand', sans-serif;
    /*margin-top: 75px;*/
    padding: 10px 0;
    color: #3a3a3a;
    font-size: 16px;
    border-radius: 22px;

}

.email-btn:visited{
    color: #3a3a3a;
}

.email-btn:hover{
    background: #3a3a3a;
    color: #fff;
    transition: 0.4s ease;
}

.contact-main{

}

.contact-main h1{
    font-family: 'Quicksand', sans-serif;
    font-size: 38px;
    margin-top: 0;
}

#contactForm{
    background-color: #3a3a3a;
    display: inline-block;
}

#contactForm p {
    padding: 20px 0 0 20px;
    font-size: 18px;
}

#contactForm input[type=text] {
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0 8px 30px;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
}

#contactForm select {
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0 8px 30px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

#contactForm button{
    width: 163px;
    height: 40px;
    font-family: 'Lato', sans-serif;
    background-color: #3a3a3a;
    color: #fff;
    font-size: 16px;
    border: 1px #fff solid;
}

#contactForm button:hover{
    border-color: #00cc00;
    color: #00cc00;
    transition: 0.4s ease;
    cursor: pointer;
}

.g-recaptcha{
    margin-left: 54px;
}

textarea {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    height: 150px;
}

span {
    font-family: 'Lato', sans-serif;
}

#contactForm textarea {
    width: 634px;
    padding: 12px 20px;
    margin: 8px 0 8px 30px;
    box-sizing: border-box;
    resize: vertical;
}

/* For Javascript */

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog div h2{
    font-family: 'Comfortaa', cursive;
    font-size: 26px;
}

.modalDialog div p{
    font-family: 'Quicksand', sans-serif;
    line-height: 30px;
    font-size: 20px;
}

.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}

.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    /*background: -moz-linear-gradient(#fff, #999);*/
    background: #d9d9d9;
    /*background: -o-linear-gradient(#fff, #999);*/
}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.cancel {
    color: #fff;
    text-align: center;
    background: #3A3A3A;
    padding: 10px 0;
    display: block;
}

.close:hover {
    background: red;
}

.cancel:hover {
    opacity: 0.8;
}

/* End JavaScript CSS */

.footer-div {
    background-color: #3A3A3A;
    height: 250px;
    width: 100%;
    padding-bottom: 10px;
}

.footer-div div{
    text-align: center;
}


#footer-img{
    height: 120px;
    width: 200px;
    margin-top: 21px;
}

#copyright {
    font-family: 'Lato', sans-serif;
}

/*Office Address*/
.address{
    color: white;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    text-align: center;
}

#hb {
    display: none;
}

.footer-div a:hover {
    text-decoration: none;
}

.contact-footer {
    margin-top: 15px;
}


.slider-wrapper>.slide:first-child {
    opacity: 1;
}

label {
    margin: 0 30px 0 0;
    font-size: 30px;
    display: none;
    width: 30px;
    float: right;
    color: #FFF;
}

#toggle {
    display: none;
}

@media only screen and (max-width: 1036px){
    label {
        display: block;
        cursor: pointer;
        margin-top: 30px;
        padding: 0 0 5px 12px;
        border: 1px solid #3a3a3a;
        border-radius: 10px;
        color: #3a3a3a;

    }

    label:active {
        background: #3a3a3a;
        color: #fff;

    }

    .nav-logo-div{
        margin-right: 0px;
    }

    .navbar-nav li a:hover {
        color: #d9d9d9;
        font-size: 18px;
    }

    .navbar-nav {
        text-align: center;
        width: 100%;
        max-height: 0px;
        display: none;
        clear: both;
        float: none;
    }

    .navbar-nav li{
        float: none;
        padding: 0;
        display: block;
        margin: 15px 0;
    }

    .navbar-nav li a {
        display: block;
        padding-right: 50px;
        padding-top: 5px;
    }

    .navbar-nav li a:hover:before {
        visibility: hidden;
    }

    #toggle:checked + .navbar-nav {
        display: block;
        transition-property: all;
        transition-duration: .2s;
        transition-timing-function: ease-in-out;
        min-height: 160px;
        padding-left: 30px;
    }

}

@media only screen and (max-width: 321px){
    .nav-logo-div a img{
        height: 55px;
        width: 90px;
        margin-left: 10px;
    }
    .nav-logo-div{
        margin-top: 16px;
        margin-left: 20px;
    }

    .below-main{
        margin-top: 0;
    }

    .left-div h2{
        margin-left: 0;
        text-align: center;
    }

    .left-div ul{
        margin-left: 10px;
    }

    #recycleLogo{
        margin: 27px 0 0 0;
    }

    .pos-left{
        left: 28%;
    }

    .third-div{
        margin-top: 0;
    }

    .about-text{
        font-size: 18px;
        border-right: none;
        margin-left: 40px;
    }

}

@media only screen and(min-width: 347px){
    .footer-div{
        padding-bottom: 60px;
    }
}

@media only screen and(min-width: 359px){
    .footer-div{
        padding-bottom: 30px;
    }
}


@media only screen and (max-width: 361px){
    .nav-logo-div a img{
        height: 55px;
        width: 90px;
        margin-left: 10px;
    }
    .nav-logo-div{
        margin-top: 16px;
        margin-left: 20px;
    }

    .below-main{
        margin-top: 0;
    }

    .left-div h2{
        margin-left: 0;
        text-align: center;
    }

    .left-div ul{
        margin-left: 10px;
    }

    #recycleLogo{
        margin: 27px 0 0 0;
    }
}

@media only screen and (max-width: 375px){
    .nav-logo-div a img{
        height: 55px;
        width: 90px;
        margin-left: 10px;
    }
    .nav-logo-div{
        margin-top: 16px;
        margin-left: 20px;
    }

    .below-main{
        margin-top: 0;
    }

    .left-div h2{
        margin-left: 0;
        text-align: center;
    }

    .left-div ul{
        margin-left: 10px;
    }

    #recycleLogo{
        margin: 27px 0 0 0;
    }
}

@media only screen and (max-width: 414px){
    .nav-logo-div a img{
        height: 55px;
        width: 90px;
        margin-left: 10px;
    }
    .nav-logo-div{
        margin-top: 16px;
        margin-left: 20px;
    }

    .below-main{
        margin-top: 0;
    }

    .left-div h2{
        margin-left: 0;
        text-align: center;
    }

    .left-div ul{
        margin-left: 10px;
    }

    #recycleLogo{
        margin: 27px 0 0 0;
    }
}
